
:root {
    --cool-steel: #9fc3e2;
    --ash-brown: #554640;
    --pale-sky: #d9e9f3;
    --cool-steel-2: #87919e;
    --dim-grey: #707078;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: var(--pale-sky);
    color: var(--ash-brown);
}

h1, h2, h3 {
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid var(--cool-steel-2);
}

p {
    margin-bottom: 5px;
    text-align: center;
    line-height: 1.3;
}

a {
    color: var(--ash-brown);
}

button {
    background: var(--ash-brown);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

img {
    max-width: 100%;
}


