<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/"><strong>Webspace</strong></a> |
        <a href="https://github.com/kylebeland7git"><strong>GitHub.com</strong></a> |
        <a href="https://kylebeland7git.github.io/"><strong>GitHub.io</strong></a> |
        <a href="https://kylebeland7git.github.io/itis3135/"><strong>Course.io</strong></a> |
        <a href="https://www.freecodecamp.org/kylebelandkillerbee"><strong>FreeCodeCamp</strong></a> |
        <a href="https://www.codecademy.com/profiles/KyleBelandKillerBees"><strong>Codecademy</strong></a> |
        <a href="https://www.linkedin.com/in/kyle-beland-320b92333/"><strong>LinkedIn</strong></a> |
        <a href="https://kylebkillabdesign.com/"><strong>Kylebdesign</strong></a>
    </nav>

    <p>
        Designed by Kyle Beland | Killer Bees
    </p>

    <p>
        <em>Building Technology With Purpose</em>
    </p>
</footer>