<header>
    <h1>Kyle Beland's | Killer Bees | ITIS3135</h1>

    <nav>
        <a href="contract.html">Contract</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="index.html">Course Page</a> |
        <a href="about.html">About</a>
    </nav>
    <br>
    <nav>
        <a href="survey.html">Survey</a> |
        <a href="playingcards.html">Playing Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="instructions.html">Instructions</a> |
        <a href="productlanding.html">Product Landing</a>
    </nav>
</header>